@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "Relevant Links 相關連結";
    ViewData["PageTitle"] = "Relevant Links 相關連結";
    ViewData["BreadcrumbCurrent"] = "Relevant Links 相關連結";
}

<style>
    .journal-link {
        color: #6c757d;
        text-decoration: none;
        transition: color 0.2s ease;
    }

    .journal-link:hover,
    .journal-link:focus {
        color: #FEAE00;
        text-decoration: none;
    }
</style>

<!-- 各領域相關機構與網站連結 -->
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Relevant Institutions and Websites  <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">各領域相關機構與網站連結</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4">
                        <hr class="my-0 me-auto">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-flask fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Research Institutes 研究機構</h4>
                        <ul>
                            <li><a class="journal-link" href="https://www.sinica.edu.tw/" target="_blank" rel="noopener noreferrer">中央研究院 (Academia Sinica)</a></li>
                            <li><a class="journal-link" href="https://www.cier.edu.tw/" target="_blank" rel="noopener noreferrer">中華經濟研究院 (Chung-Hua Institution for Economic Research, CIER)</a></li>
                            <li><a class="journal-link" href="https://www.tri.org.tw/" target="_blank" rel="noopener noreferrer">台灣綜合研究院 (Taiwan Research Institute, TRI)</a></li>
                            <li><a class="journal-link" href="https://www.tier.org.tw/" target="_blank" rel="noopener noreferrer">台灣經濟研究院 (Taiwan Institute of Economic Research, TIER)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-building-columns fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Official Agencies 官方機構</h4>
                        <ul>
                            <li><a class="journal-link" href="https://www.ndc.gov.tw/" target="_blank" rel="noopener noreferrer">國家發展委員會 (National Development Council, NDC)</a></li>
                            <li><a class="journal-link" href="https://www.moenv.gov.tw/" target="_blank" rel="noopener noreferrer">環境部 (Ministry of Environment)</a></li>
                            <li><a class="journal-link" href="https://www.adb.org/" target="_blank" rel="noopener noreferrer">亞洲開發銀行 (Asian Development Bank, ADB)</a></li>
                            <li><a class="journal-link" href="https://www.fao.org/" target="_blank" rel="noopener noreferrer">聯合國糧食及農業組織 (Food and Agriculture Organization of the United Nations, FAO)</a></li>
                            <li><a class="journal-link" href="https://www.wfp.org/" target="_blank" rel="noopener noreferrer">世界糧食計畫署 (World Food Programme, WFP)</a></li>
                            <li><a class="journal-link" href="https://www.worldbank.org/" target="_blank" rel="noopener noreferrer">世界銀行 (World Bank)</a></li>
                            <li><a class="journal-link" href="https://www.undp.org/" target="_blank" rel="noopener noreferrer">聯合國開發計畫署 (United Nations Development Programme, UNDP)</a></li>
                            <li><a class="journal-link" href="https://www.unep.org/" target="_blank" rel="noopener noreferrer">聯合國環境署 (United Nations Environment Programme, UNEP)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-lg-3">
            <div class="col-lg-6">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-people-group fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Academic Societies 學會</h4>
                        <ul>
                            <li><a class="journal-link" href="https://sts.org.tw/" target="_blank" rel="noopener noreferrer">台灣科技與社會研究學會 (Taiwan Science, Technology and Society Association)</a></li>
                            <li><a class="journal-link" href="https://capstaipei.org.tw/" target="_blank" rel="noopener noreferrer">中國政治學會 (Chinese Association of Political Science, CAPS)</a></li>
                            <li><a class="journal-link" href="https://www.tsatw.org.tw/" target="_blank" rel="noopener noreferrer">台灣社會學會 (Taiwanese Sociological Association, TSA)</a></li>
                            <li><a class="journal-link" href="https://tpsa.tw/" target="_blank" rel="noopener noreferrer">台灣政治學會 (Taiwanese Political Science Association, TPSA)</a></li>
                            <li><a class="journal-link" href="https://www.tea.org.tw/" target="_blank" rel="noopener noreferrer">台灣經濟學會 (Taiwan Economic Association, TEA)</a></li>
                            <li><a class="journal-link" href="https://www.isa-sociology.org/" target="_blank" rel="noopener noreferrer">國際社會學會 (International Sociological Association, ISA)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-handshake-angle fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">NGOs/FORUMs 非政府組織/論壇</h4>
                        <ul>
                            <li><a class="journal-link" href="https://twstreetcorner.org/" target="_blank" rel="noopener noreferrer">巷仔口社會學 (Streetcorner Sociology)</a></li>
                            <li><a class="journal-link" href="https://www.coolloud.org.tw/" target="_blank" rel="noopener noreferrer">苦勞網 (Coolloud)</a></li>
                            <li><a class="journal-link" href="https://www.facebook.com/taiwanruralfront/" target="_blank" rel="noopener noreferrer">台灣農村陣線 (Taiwan Rural Front, TRF)</a></li>
                            <li><a class="journal-link" href="https://teia.tw/" target="_blank" rel="noopener noreferrer">台灣環境資訊協會 (Taiwan Environmental Information Association, TEIA)</a></li>
                            <li><a class="journal-link" href="https://www.greenpeace.org/taiwan/" target="_blank" rel="noopener noreferrer">綠色和平 (Greenpeace Taiwan)</a></li>
                            <li><a class="journal-link" href="http://www.ier.org.tw/" target="_blank" rel="noopener noreferrer">財團法人環境資源研究基金會 (Institute of Environment and Resources, IER)</a></li>
                            <li><a class="journal-link" href="https://www.oxfam.org.hk/" target="_blank" rel="noopener noreferrer">樂施會 (Oxfam)</a></li>
                            <li><a class="journal-link" href="https://viacampesina.org/" target="_blank" rel="noopener noreferrer">國際農民運動 (La Via Campesina)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-lg-3">
            <div class="col-12">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-graduation-cap fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Relevant Institutes and Departments in Taiwan 在台相關系所</h4>
                        <ul>
                            <li><a class="journal-link" href="https://gids.nccu.edu.tw/" target="_blank" rel="noopener noreferrer">國立政治大學國家發展研究所 (Graduate Institute of Development Studies, National Chengchi University)</a></li>
                            <li><a class="journal-link" href="https://dds.ndhu.edu.tw/" target="_blank" rel="noopener noreferrer">國立東華大學民族發展與社會工作學系 (Department of Indigenous Development and Social Work, National Dong Hwa University)</a></li>
                            <li><a class="journal-link" href="https://www.tcfx.tku.edu.tw/" target="_blank" rel="noopener noreferrer">淡江大學教育與未來設計學系 (Department of Education and Futures Design, Tamkang University)</a></li>
                            <li><a class="journal-link" href="https://social.ntue.edu.tw/" target="_blank" rel="noopener noreferrer">國立臺北教育大學社會與區域發展學系 (Department of Social and Regional Development, National Taipei University of Education)</a></li>
                            <li><a class="journal-link" href="https://www.epa.ncnu.edu.tw/" target="_blank" rel="noopener noreferrer">國立暨南大學教育政策與行政學系 (Department of Educational Policy and Administration, National Chi Nan University)</a></li>
                            <li><a class="journal-link" href="https://cphr.ncnu.edu.tw/" target="_blank" rel="noopener noreferrer">國立暨南大學諮商心理與人力資源學系 (Department of Counseling Psychology and Human Resource Development, National Chi Nan University)</a></li>
                            <li><a class="journal-link" href="https://bicd.ntu.edu.tw/" target="_blank" rel="noopener noreferrer">國立臺灣大學生物產業傳播暨發展學系 (Department of Bio-Industry Communication and Development, National Taiwan University)</a></li>
                            <li><a class="journal-link" href="https://www.geog.ntu.edu.tw/" target="_blank" rel="noopener noreferrer">國立臺灣大學地理環境資源學系 (Department of Geography, National Taiwan University)</a></li>
                            <li><a class="journal-link" href="https://www.bp.ntu.edu.tw/" target="_blank" rel="noopener noreferrer">國立臺灣大學建築與城鄉研究所 (Graduate Institute of Building and Planning, National Taiwan University)</a></li>
                            <li><a class="journal-link" href="https://nd.ntu.edu.tw/" target="_blank" rel="noopener noreferrer">國立臺灣大學國家發展研究所 (Graduate Institute of National Development, National Taiwan University)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
