<footer id="footer" class="border-top-0 mt-0">
    <div class="container py-2">
        <div class="row py-2">
            <div class="col-md-6 mb-4 mb-lg-0">
                <a href="/" class="logo pe-0 pe-lg-3 pb-4">
                    <img alt="Porto" width="250" height="82" src="~/img/logo.png" style="filter: brightness(0) invert(1);">
                </a>
            </div>
            <div class="col-md-4 col-offset-md-4 text-md-end">
                <h5 class="text-4-5 mt-4 text-transform-none custom-font-primary mb-3">Follow Us
                    <a href="https://www.facebook.com/tads.tw" class="no-footer-css" target="_blank" title="Facebook"><i class="text-primary fab fa-facebook-f"></i></a>
                </h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center">
                    <p>TADS © 2026. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
