<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 107, 'stickySetTop': '-107px', 'stickyChangeLogo': true}">
    <div class="header-body border-color-primary border-top-0 box-shadow-none">
        <div class="header-container container z-index-2">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/" style="display: flex; align-items: center;">
                                <img alt="Porto" height="82" src="~/img/logo_head.png">
                                <img alt="Porto2" height="82" src="~/img/logo_text.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end" style="display: none;">
                    <div class="header-row h-100">
                        <ul class="header-extra-info d-flex h-100 align-items-center">
                            <li class="align-items-center d-none d-lg-block h-100 py-4">
                                <div class="header-extra-info-text h-100 py-2">
                                    <div class="feature-box feature-box-style-2 align-items-center">
                                        <div class="feature-box-icon">
                                            <img width="34" height="28" src="~/img/demos/law-firm/icons/envelope.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 34px; height: 28px;" />
                                        </div>
                                        <div class="feature-box-info ps-1">
                                            <label>SEND US AN EMAIL</label>
                                            <strong><a href="mailto:tads.tw@gmail.com">tads.tw@gmail.com</a></strong>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav-bar pt-3">
            <div class="container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-nav justify-content-start header-nav-line header-nav-bottom-line header-nav-bottom-line-effect-1">
                                    <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                        <nav class="collapse" id="mainNavCollapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="dropdown">
                                                    <a class="dropdown-item active" href="/">
                                                        Home<br />
                                                        首頁
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item" href="/About">
                                                        About Us<br />
                                                        關於學會
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item" href="/Annual/Current">
                                                        Annual Conferences <br />of Development Studies 發展研究年會
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item" href="/Newsletters">
                                                        Newsletters<br />
                                                        學會通訊
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item" href="/RelevantLinks">
                                                        Relevant Links<br />
                                                        相關連結
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item" href="/DevelopmentDynamics">
                                                        Development Dynamics<br />
                                                        發展學領域動態
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item" href="/Contact">
                                                        Contact Us<br />
                                                        聯絡我們
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
