<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Head")
</head>

<body>
    <div class="body">
        @await Html.PartialAsync("_Header")

        <div role="main" class="main">
            @RenderBody()
        </div>

        @await Html.PartialAsync("_Footer")
    </div>

    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
