<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 台灣發展研究學會</title>

    <meta name="keywords" content="WebSite Template" />
    <meta name="description" content="Porto - Multipurpose Website Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <!--link id="googleFonts" href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900%7CPoppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet" type="text/css"-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Merriweather:wght@400;700;900&family=Noto+Sans+TC:wght@400;500;700;900&family=Noto+Serif+TC:wght@400;500;700;900&family=Noto+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/theme-blog.css">
    <link rel="stylesheet" href="~/css/theme-shop.css">

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" href="~/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/vendor/rs-plugin/css/navigation.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="~/css/demos/demo-law-firm.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/css/skins/skin-law-firm.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">


    <link rel="stylesheet" href="~/TADS_Web.styles.css" asp-append-version="true" />


    <style>
        .font-do-hyeon      { font-family: "Do Hyeon", sans-serif; }
        .font-merriweather  { font-family: "Merriweather", serif; }
        .font-noto-sans     { font-family: "Noto Sans", sans-serif; }      /* 取代 Noto Sans Gothic */
        .font-noto-sans-tc  { font-family: "Noto Sans TC", sans-serif; }   /* 思源黑體 */
        .font-noto-serif-tc { font-family: "Noto Serif TC", serif; }       /* 思源明體 */
    </style>

</head>



<body>

    <div class="body">
        <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 107, 'stickySetTop': '-107px', 'stickyChangeLogo': true}">
            <div class="header-body border-color-primary border-top-0 box-shadow-none">
                <div class="header-container container z-index-2">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="#" style="display: flex; align-items: center;">
                                        <img alt="Porto" height="82" src="~/img/logo_head.png">
                                        <img alt="Porto2" height="82" src="~/img/logo_text.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end" style="display: none;">
                            <div class="header-row h-100">
                                <ul class="header-extra-info d-flex h-100 align-items-center">
                                    <li class="align-items-center d-none d-lg-block h-100 py-4">
                                        <div class="header-extra-info-text h-100 py-2">
                                            <div class="feature-box feature-box-style-2 align-items-center">
                                                <div class="feature-box-icon">
                                                    <img width="34" height="28" src="~/img/demos/law-firm/icons/envelope.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 34px; height: 28px;" />
                                                </div>
                                                <div class="feature-box-info ps-1">
                                                    <label>SEND US AN EMAIL</label>
                                                    <strong><a href="mailto:tads.tw@gmail.com">tads.tw@gmail.com</a></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--li class="align-items-center d-none d-lg-block h-100 py-4">
                                        <div class="header-extra-info-text h-100 py-2">
                                            <div class="feature-box feature-box-style-2 align-items-center">
                                                <div class="feature-box-icon">
                                                    <img width="30" height="30" src="~/img/demos/law-firm/icons/phone.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-stroke-color-primary p-relative left-3'}" style="width: 30px; height: 30px;" />
                                                </div>
                                                <div class="feature-box-info ps-1">
                                                    <label>CALL US NOW</label>
                                                    <strong><a href="tel:8001234567">800-123-4567</a></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </li-->
                                    <!--li class="align-items-center d-none d-sm-block h-100 py-4">
                                        <div class="header-extra-info-text h-100 py-2">
                                            <div class="feature-box feature-box-style-2 align-items-center">
                                                <div class="feature-box-icon">
                                                    <img width="33" height="31" src="~/img/demos/law-firm/icons/comment.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" style="width: 33px; height: 31px;" />
                                                </div>
                                                <div class="feature-box-info ps-1">
                                                    <label class="p-relative top-4">GET STARTED</label>
                                                    <strong class="text-uppercase"><a href="#">Request Consultation <img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2 d-inline'}" /></a></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </li-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav-bar pt-3">
                    <div class="container">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-row">
                                    <div class="header-column">

                                        <div class="header-nav justify-content-start header-nav-line header-nav-bottom-line header-nav-bottom-line-effect-1">
                                            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                                <nav class="collapse" id="mainNavCollapse">
                                                    <ul class="nav nav-pills" id="mainNav">
                                                        <li class="dropdown">
                                                            <a class="dropdown-item active" href="demo-law-firm.html">
                                                                Home<br />
                                                                首頁
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="demo-law-firm-about-us.html">
                                                                About Us<br />
                                                                關於學會
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="demo-law-firm-practice-areas.html">
                                                                Annual Conferences <br />of Development Studies 發展研究年會
                                                            </a>
                                                        </li>										
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="demo-law-firm-news.html">
                                                                Newsletters<br />
                                                                學會通訊
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="demo-law-firm-contact-us.html">
                                                                Related Links<br />
                                                                相關連結
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="demo-law-firm-contact-us.html">
                                                                Development Dynamics<br />
                                                                發展學領域動態
                                                            </a>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a class="dropdown-item" href="demo-law-firm-contact-us.html">
                                                                Contact Us<br />
                                                                聯絡我們
                                                            </a>
                                                        </li>
                                                        
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <!--div class="header-column">
                                        <div class="header-row justify-content-end py-2">
                                            <div class="header-nav-features header-nav-features-no-border ms-0 ps-0 w-100">
                                                <form role="search" class="d-flex w-100">
                                                    <div class="simple-search input-group w-100">
                                                        <input  style="width: 70px;" class="form-control bg-transparent border-0 border-radius-0 text-2" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                                                        <button class="btn border-0" type="submit">
                                                            <i class="fa fa-search text-color-primary header-nav-top-icon p-relative top-1"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div-->
                                    <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">
           @RenderBody()
        </div>

        <footer id="footer" class="border-top-0 mt-0">
            <div class="container py-2">
                <div class="row py-2">
                    <div class="col-md-6 mb-4 mb-lg-0">
                        <a href="index.html" class="logo pe-0 pe-lg-3 pb-4">
                            <img alt="Porto" width="250" height="82" src="~/img/logo.png" style="filter: brightness(0) invert(1);">
                        </a>
                    </div>
                    
                    <div class="col-md-4 col-offset-md-4 text-md-end">
                        <h5 class="text-4-5 mt-4 text-transform-none custom-font-primary mb-3">Follow Us
                            <a href="https://www.facebook.com/tads.tw" class="no-footer-css" target="_blank" title="Facebook"><i class="text-primary fab fa-facebook-f"></i></a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="footer-copyright footer-copyright-style-2">
                <div class="container py-2">
                    <div class="row py-4">
                        <div class="col d-flex align-items-center justify-content-center">
                            <p>TADS © 2026. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Vendor -->
    <script src="~/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Revolution Slider Scripts -->
    <script src="~/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/js/views/view.contact.js"></script>

    <!-- Demo -->
    <script src="~/js/demos/demo-law-firm.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
