@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/slide1.png" class="w-100 d-block" alt="" style="max-height: 700px; object-fit: cover;" />

<!-- Who we are, out commitment -->
<section class="section section-default section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h5 class="mb-0 font-weight-bold appear-animation font-noto-sans" data-appear-animation="blurIn" data-appear-animation-delay="100">THE 18TH ANNUAL CONFERENCE ON DEVELOPMENT STUDIES</h5>
                <div class="divider divider-primary divider-small mt-2 mb-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <hr class="my-0 me-auto">
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                    <p class="font-weight-blob text-dark text-7 font-do-hyeon mb-0">
                        WHOSE KNOWLEDGE?<br />WHOSE UNIVERSITY?
                    </p>
                    <p class="font-do-hyeon text-5 text-dark" style="letter-spacing: -0.5px;">Reimagining Higher Education and Taiwan’s Future Development Amidst Socio-Technical Change.</p>
                    <p class="text-35 font-noto-sans-tc text-dark" style="line-height: 1.3em;">
                        VENUE /<br />
                        GRADUATE INSTITUTE OF NATIONAL DEVELOPMENT, <br />
                        NATIONAL TAIWAN UNIVERSITY
                    </p>

                    <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-about-us.html">Learn More<img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="mb-0 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="400">
                    第十八屆台灣發展研究年會
                </h5>
                <div class="divider divider-primary divider-small mt-2 mb-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                    <hr class="my-0 me-auto">
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                    <p class="mt-4 mb-0 font-noto-sans-tc text-7 text-dark font-weight-bold">誰的知識？誰的大學？</p>
                    <p class="font-noto-sans-tc text-dark text-5">科技社會變遷下的高教再想像與台灣未來發展</p>
                    <p class="mt-4 mb-0 text-2 font-noto-sans-tc text-dark" style="line-height: 1.3em;">
                        地點 /<br />
                        國立臺灣大學 國家發展研究所
                    </p>

                    <p class="mt-4">
                        <span class="font-do-hyeon text-10 text-primary">11/7~8 2026</span>
                    <input type="submit" value="CALL FOR PAPERS" 
                        class="btn btn-primary btn-modern text-uppercase font-weight-bold text-4 ms-2 py-3 btn-px-2 font-do-hyeon" style="vertical-align: super;" data-loading-text="Loading...">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- 最新消息 -->
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col text-center">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Latest News <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">最新消息</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4 text-center">
                        <hr class="my-0 mx-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3 mt-1 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 p-relative">
                        <a href="demo-law-firm-news-post.html" class="text-decoration-none text-light">										
                            <span class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
                                <span class="text-center bg-primary border-radius text-color-light font-weight-semibold line-height-2 px-3 py-2">
                                    <span class="position-relative z-index-2">
                                        <span class="text-8">18</span>
                                        <span class="custom-font-secondary d-block text-1 positive-ls-2 px-1">FEB</span>
                                    </span>
                                </span>
                            </span>
                            <img src="~/img/demos/law-firm/blog/blog-thumb-1.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                        <h3 class="custom-font-primary mb-2">
                            <a href="demo-law-firm-news-post.html" class="text-dark text-transform-none font-weight-bold text-1 line-height-3 text-color-hover-primary text-decoration-none">
                                Lorem ipsum dolor sit amet, consectetur</h3>
                            </a>
                        </h3>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque rutrum pellentesqu...</p>
                        <a href="demo-law-firm-news-post.html" class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
                            View More
                            <img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 p-relative">
                        <a href="demo-law-firm-news-post.html" class="text-decoration-none text-light">										
                            <span class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
                                <span class="text-center bg-primary border-radius text-color-light font-weight-semibold line-height-2 px-3 py-2">
                                    <span class="position-relative z-index-2">
                                        <span class="text-8">18</span>
                                        <span class="custom-font-secondary d-block text-1 positive-ls-2 px-1">FEB</span>
                                    </span>
                                </span>
                            </span>
                            <img src="~/img/demos/law-firm/blog/blog-thumb-2.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                        <h3 class="custom-font-primary mb-2">
                            <a href="demo-law-firm-news-post.html" class="text-dark text-transform-none font-weight-bold text-1 line-height-3 text-color-hover-primary text-decoration-none">
                                Lorem ipsum dolor sit amet, consectetur</h3>
                            </a>
                        </h3>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque rutrum pellentesqu...</p>
                        <a href="demo-law-firm-news-post.html" class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
                            View More
                            <img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

         <div class="row pt-3 mt-1 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 p-relative">
                        <a href="demo-law-firm-news-post.html" class="text-decoration-none text-light">										
                            <span class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
                                <span class="text-center bg-primary border-radius text-color-light font-weight-semibold line-height-2 px-3 py-2">
                                    <span class="position-relative z-index-2">
                                        <span class="text-8">18</span>
                                        <span class="custom-font-secondary d-block text-1 positive-ls-2 px-1">FEB</span>
                                    </span>
                                </span>
                            </span>
                            <img src="~/img/demos/law-firm/blog/blog-thumb-1.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                        <h3 class="custom-font-primary mb-2">
                            <a href="demo-law-firm-news-post.html" class="text-dark text-transform-none font-weight-bold text-1 line-height-3 text-color-hover-primary text-decoration-none">
                                Lorem ipsum dolor sit amet, consectetur</h3>
                            </a>
                        </h3>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque rutrum pellentesqu...</p>
                        <a href="demo-law-firm-news-post.html" class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
                            View More
                            <img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 p-relative">
                        <a href="demo-law-firm-news-post.html" class="text-decoration-none text-light">										
                            <span class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
                                <span class="text-center bg-primary border-radius text-color-light font-weight-semibold line-height-2 px-3 py-2">
                                    <span class="position-relative z-index-2">
                                        <span class="text-8">18</span>
                                        <span class="custom-font-secondary d-block text-1 positive-ls-2 px-1">FEB</span>
                                    </span>
                                </span>
                            </span>
                            <img src="~/img/demos/law-firm/blog/blog-thumb-2.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                        <h3 class="custom-font-primary mb-2">
                            <a href="demo-law-firm-news-post.html" class="text-dark text-transform-none font-weight-bold text-1 line-height-3 text-color-hover-primary text-decoration-none">
                                Lorem ipsum dolor sit amet, consectetur</h3>
                            </a>
                        </h3>
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque rutrum pellentesqu...</p>
                        <a href="demo-law-firm-news-post.html" class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
                            View More
                            <img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>          

<!-- 關於學會 -->
<div class="container-fluid">
    <div class="row" style="background: url(img/background-1.jpg); background-size: contain; background-position: center;">
        <div class="col-lg-6 order-2 order-lg-1 p-0">
            <div class="h-100 m-0">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-right text-color-light py-5 ms-auto">
                        <div class="p-3">
                            <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <h2 class="mb-0 font-weight-bold text-light font-noto-serif-tc">關於學會</h2>
                                <div class="divider divider-dark divider-small mt-2 mb-4">
                                    <hr class="my-0 me-auto">
                                </div>

                                <div class="owl-carousel owl-theme dots-align-left dots-light dots-modern custom-dots-modern-1 dots-modern-lg pt-3" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': true, 'autoHeight': true}">
                                    <div>
                                        <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-light testimonial-remove-right-quote mb-0">
                                            <blockquote class="opacity-7 pb-3">
                                                <p class="text-start text-color-light custom-font-secondary text-3 line-height-10 fst-italic pb-0 mb-0 font-noto-sans-tc">發展研究（development studies），起初以國家為主的經濟發展考量，近年來逐漸轉移到個人、社區、參與以及平等，強調發展是要符合人民需要、與環境和平共處。為實現發展的永續性，除借鑑前人的經驗更需結合現今資源網絡，我們期許能夠找到一條可以實現永續的發展道路。</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 p-0">
            <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" style="min-height: 450px;">
                <div class="h-100 m-0">
                    <div class="row m-0">
                        <div class="col-half-section col-half-section-left">
                            <div class="p-3 p-relative zindex-1">
                                <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                    <h2 class="mb-0 font-weight-bold text-color-light font-merriweather">About Us</h2>
                                    <div class="divider divider-dark divider-small mt-2 mb-4">
                                        <hr class="my-0 me-auto">
                                    </div>

                                    <div>
                                        <p class="text-color-light font-noto-sans">Development studies, initially focusing on national economic growth, have gradually shifted to sustainability of individuals, communities, civic participation, equality, and global governance in recent years, emphasizing that development must meet the needs of the people and coexist with nature. To realize the sustainability, it is crucial to acquire experience from the predecessors, as well as to integrate the current resource network into practice. Therefore, as an association for development studies, we hope to find a sustainable path by connecting scholars from various research fields.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>
</div>


<!-- 研究成果 -->
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col text-center">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Research findings <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">學會會員研究成果</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4 text-center">
                        <hr class="my-0 mx-auto">
                    </div>
                </div>

                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">

                    <div class="owl-carousel owl-theme dots-modern dots-modern-lg pt-3 pb-0 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 3}, '1199': {'items': 4}}, 'loop': false, 'autoHeight': true, 'margin': 20}">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-6.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">John Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">CEO & FOUNDER</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-1.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">Bob Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">LEAD ATTORNEY</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-2.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">Janice Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">Criminal Law</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-3.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">Josh Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">Business Law</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-4.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">Alice Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">Capital Law</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-5.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">Chuck Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">Divorce Law</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- 發展學領域動態 -->
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col text-center">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Development Dynamics  <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">發展學領域動態</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4 text-center">
                        <hr class="my-0 mx-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-globe fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Development 發展學</h4>
                        <ul>
                            <li>國家發展研究</li>
                            <li>問題與研究</li>
                            <li>World Development</li>
                            <li>Population and Development Review</li>
                            <li>Development and Change</li>
                            <li>Journal of Development Eﬀectiveness</li>
                            <li>Studies in Comparative International</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-chart-line fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Economy 經濟</h4>
                        <ul>
                            <li>Journal of Development of Economics</li>
                            <li>World Bank Research Observer</li>
                            <li>Economic Development Quarterly</li>
                            <li>Applied Economic Perspectives and Policy</li>
                            <li>Economic Development and Cultural Change</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-landmark fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Politics 政治</h4>
                        <ul>
                            <li>New Political Economy</li>
                            <li>Review of African Political Economy</li>
                            <li>Journal of International Relations and Development</li>
                            <li>Policy Sciences</li>
                            <li>Public Administration and Development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-3">
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Society 社會</h4>
                        <ul>
                            <li>International Journal of Urban and Regional Research</li>
                            <li>Cities</li>
                            <li>Policy and Society</li>
                            <li>Journal of Rural Studies</li>
                            <li>Journal of Regional Science</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-leaf fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Sustainability 永續</h4>
                        <ul>
                            <li>Journal of Sustainable Tourism</li>
                            <li>Corporate Social Responsibility and Environmental Management</li>
                            <li>Food Policy</li>
                            <li>Environment, Development and Sustainability</li>
                            <li>Sustainable Development</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>



<!-- 相關連結/ 聯絡我們 -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 order-2 order-lg-1 p-0 bg-color-quaternary">
            <div class="h-100 m-0">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-right py-5 ms-auto">
                        <div class="p-3">
                            <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <h2 class="mb-0 font-weight-bold text-dark  font-merriweather">Related Links <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">相關連結</div></h2>
                                <div class="divider divider-primary divider-small mt-2 mb-4">
                                    <hr class="my-0 me-auto">
                                </div>

                                <ul class="list list-icons">
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;"><i class="fas fa-check"></i> Research Institutes 研究機構</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;"><i class="fas fa-check"></i> Oﬃcial Institutes 官方機構</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fas fa-check"></i> Associations 學會</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="900" style="animation-delay: 900ms;"><i class="fas fa-check"></i> Development Studies Colleges/Departments in Taiwan 在台相關系所</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1200" style="animation-delay: 1200ms;"><i class="fas fa-check"></i> NGOs/FORUMs 非政府組織/論壇</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 p-0"  style="background: url(img/background-2.jpg); background-size: cover; background-position: center;">
            <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" style="min-height: 450px;">
                <div class="h-100 m-0">
                    <div class="row m-0">
                        <div class="col-half-section col-half-section-left">
                            <div class="p-3 p-relative zindex-1">
                                <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                    <h2 class="mb-0 font-weight-bold text-dark  font-merriweather">Contact Us <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">聯絡我們</div></h2>
                                    <div class="divider divider-primary divider-small mt-2 mb-4">
                                        <hr class="my-0 me-auto">
                                    </div>

                                    <ul class="list list-icons">
                                        <li><i class="fas fa-location-dot"></i> 
                                            7F., No.64, Sec. 2, Zhinan Rd., Wenshan Dist., <br>
                                            Taipei City 116011, Taiwan (R.O.C.)<br>
                                            116011 臺北市文山區指南路二段64號<br>
                                            國立政治大學綜合院館北棟7樓270709室
                                        </li>
                                        <li><i class="fas fa-phone"></i> (+886)2-2939-3091 Transfer 分機 50721</li>
                                        <li><i class="far fa-envelope"></i> tads.tw@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>
</div>