@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<img src="~/img/banner.jpg" class="w-100 d-block" alt="" style="max-height: 700px; object-fit: cover;" />

<!-- Who we are, out commitment -->
<section class="section section-default section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h5 class="mb-0 font-weight-bold appear-animation font-noto-sans text-4" data-appear-animation="blurIn" data-appear-animation-delay="100">THE 18TH ANNUAL CONFERENCE ON DEVELOPMENT STUDIES</h5>
                <div class="divider divider-primary divider-small mt-2 mb-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <hr class="my-0 me-auto">
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300" style="margin-top: 50px;">
                    <p class="font-weight-blob text-dark text-10 font-do-hyeon mb-0" style="line-height: 1em;">
                        WHOSE KNOWLEDGE?<br />WHOSE UNIVERSITY?
                    </p>
                    <p class="font-do-hyeon text-5 text-dark" style="letter-spacing: -0.5px; line-height:0.8em">Reimagining Higher Education and Taiwan’s Future Development in an Age of Socio-Technical Change.</p>
                    <p class="font-noto-sans-tc text-dark" style="line-height: 1.3em; margin-top: 40px;">
                        <span class="text-35">VENUE</span> /<br />
                        <span class="text-4">GRADUATE INSTITUTE OF NATIONAL DEVELOPMENT, <br />
                        NATIONAL TAIWAN UNIVERSITY</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="mb-0 appear-animation text-4" data-appear-animation="blurIn" data-appear-animation-delay="400" style="letter-spacing: 0.1em;">
                    第十八屆發展研究年會
                </h5>
                <div class="divider divider-primary divider-small mt-2 mb-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                    <hr class="my-0 me-auto">
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500" style="margin-top: 40px;">
                    <p class="mt-4 mb-4 font-noto-sans-tc text-12 text-dark font-weight-bold" style="line-height: 1em;">誰的知識？誰的大學？</p>
                    <p class="font-noto-sans-tc text-dark text-6">科技社會變遷下的高教再想像<br />與台灣未來發展</p>
                    <p class="mb-0 font-noto-sans-tc text-dark" style="line-height: 1.3em; margin-top: 40px;">
                        <span class="text-2">地點</span> /<br />
                        <span class="text-5">國立臺灣大學 國家發展研究所</span> 
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-4 d-flex align-items-center">
                <p class="font-do-hyeon text-13 text-primary mb-0 font-weight-bold me-2" style="line-height: 1em; color: #FEAE00 !important;">
                    10/31<span class="text-1">SAT</span> ~ 11/1<span class="text-1">SUN</span>, 2026
                </p>
                <a href="https://forms.gle/ZW3gTUpjuKjbFj7MA" target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary btn-modern text-uppercase font-weight-bold text-4 ms-2 py-1 px-2 font-do-hyeon"
                    style="vertical-align: super;">
                        <span class="text-2">CALL FOR PAPERS 徵稿期間</span><br />
                        <span class="text-4">5/4~6/30</span></a>
                <a href="https://forms.gle/ZW3gTUpjuKjbFj7MA" target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary btn-modern text-uppercase font-weight-bold text-6 ms-2 py-3 px-1 font-do-hyeon"
                    style="vertical-align: super; background-color: #FEAE00; height:65px; padding-top:13px !important;padding-left: 20px !important;padding-right: 20px !important;">
                        <div>Registration 報名</div>
                </a>
                
            </div>
            <div>
                <p class="font-weight-bold text-4"> &gt;&gt; 學位論文獎競獎申請截止日 6 /30</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12 font-noto-sans-tc">
                <ul style="list-style: none; padding: 0;">
                    <li class="text-dark">《 2 0 2 6 年 第 1 8 屆 台 灣 發 展 研 究 學 會 年 會 》</li>
                    <li class="text-dark">主辦單位｜台灣發展研究學會、國立臺灣大學國家發展研究所</li>
                    <li class="mb-4 text-dark">協辦單位｜國立政治大學國家發展研究所、國立臺灣大學風險社會與政策研究中心、國立臺灣大學建築與城鄉研究所、學會團體會員、相關院系所及合作單位。</li>
                    <li class="text-primary font-weight-bold">聯絡我們｜2026年第18屆台灣發展研究學會年會籌備小組 <i class="fa-regular fa-envelope"></i> <a href="mailto:tads2026.tw@gmail.com" class="text-primary text-4">tads2026.tw@gmail.com</a></li>
                </ul>
            </div>




        </div>
    </div>
</section>


<!-- 徵稿主題介紹 & 學位論文獎 -->
<section class="section section-default section-no-border my-0" style="padding-top: 0;">
    <div class="container pt-0 pb-4">
        <div class="row">
            <div class="col-12">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h4 class="mb-0 font-merriweather"><div style="display: inline-block;" class="font-noto-serif-tc font-weight-bold">A. 徵稿主題介紹</div></h4>
                    <div class="divider divider-primary divider-small mt-2 mb-4">
                        <hr class="my-0 me-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <h4 class="font-noto-sans-tc font-weight-bold">2026年第18屆台灣發展研究學會年會</h4>
                    <p class="font-noto-sans-tc text-dark font-weight-bold text-5 mt-3">
                        會議主題｜「誰的知識？誰的大學？科技社會變遷下的高教再想像與台灣未來發展」
                    </p>
                    <p class="font-noto-sans text-dark text-4">
                        Whose Knowledge? Whose University? Reimagining Higher Education and Taiwan's Future Development Amidst Socio-Technical Change
                    </p>
                    <p class="font-noto-sans-tc text-dark mt-3">
                        本屆年會以「誰的知識？誰的大學？科技社會變遷下的高教再想像與台灣未來發展」為主題，聚焦在人工智慧、數位科技、地緣政治、人口轉型與永續發展等全球變遷下，高等教育與台灣社會所面臨的挑戰與轉型契機。大會期望延續台灣發展研究學會一貫跨領域、多元對話之精神，邀集來自社會科學、人文、科技、公共政策、法律、教育、文化與區域研究等領域之學者、研究生與實務工作者，共同探討台灣未來發展的可能方向。
                    </p>
                    <p class="font-noto-sans-tc text-dark font-weight-bold mt-4">本屆徵稿主題包含：</p>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <ol class="font-noto-sans-tc" start="1">
                                <li>高等教育哲學與實踐</li>
                                <li>淨零轉型、能源安全與永續發展</li>
                                <li>新地緣政治下的台灣、中國與東亞研究</li>
                                <li>人工智慧、數位治理與法制</li>
                                <li>性別與發展研究</li>
                                <li>原住民、新住民的身分政治與制度改革</li>
                                <li>社會福利、人口變遷與健康照顧政策</li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <ol class="font-noto-sans-tc" start="8">
                                <li>移民與移工</li>
                                <li>東亞文明與文化變遷</li>
                                <li>災害治理、公民社會與韌性</li>
                                <li>新興科技與發展</li>
                                <li>民主韌性與防衛</li>
                                <li>其他與發展研究相關之議題</li>
                            </ol>
                        </div>
                    </div>
                    <p class="font-noto-sans-tc text-dark mt-3">
                        誠摯邀請各界踴躍投稿與參與，或自組panel，一同透過跨領域對話，重新思考知識、生產體制、大學角色與台灣社會未來發展的方向。
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h4 class="mb-0 font-noto-serif-tc font-weight-bold">B. 學位論文獎</h4>
                    <div class="divider divider-primary divider-small mt-2 mb-4">
                        <hr class="my-0 me-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="appear-animation d-flex align-items-center flex-wrap gap-3" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <span class="font-noto-sans-tc font-weight-bold text-dark">學位論文獎徵件中｜鼓勵青年研究者投入發展研究｜即日起至2026年6月30日截止</span>
                    <a href="/static/file.pdf" target="_blank" class="btn btn-primary btn-modern btn-sm font-noto-sans-tc font-weight-bold">
                        <i class="fas fa-download me-1"></i>下載檔案
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- 最新消息 -->
@*
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col text-center">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Latest News <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">最新消息</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4 text-center">
                        <hr class="my-0 mx-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3 mt-1 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 p-relative">
                        <a href="/Home/News" class="text-decoration-none text-light">										
                            <span class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
                                <span class="text-center bg-primary border-radius text-color-light font-weight-semibold line-height-2 px-3 py-2">
                                    <span class="position-relative z-index-2">
                                        <span class="text-8">22</span>
                                        <span class="custom-font-secondary d-block text-1 positive-ls-2 px-1">JAN</span>
                                    </span>
                                </span>
                            </span>
                            <img src="~/img/news1.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                        <h3 class="custom-font-primary mb-2">
                            <a href="/Home/News" class="text-dark text-transform-none font-weight-bold text-1 line-height-3 text-color-hover-primary text-decoration-none">
                                「掌握東亞數位化與社會政策的最前線！」活動資訊</h3>
                            </a>
                        </h3>
                        <p class="mb-2">想知道數位化與平台化如何改變中國與台灣的社會福利嗎？...</p>
                        <a href="/Home/News" class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
                            View More
                            <img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 p-relative">
                        <a href="/Home/News" class="text-decoration-none text-light">										
                            <span class="position-absolute bottom-10 right-0 d-flex justify-content-end w-100 py-3 px-4 z-index-3">
                                <span class="text-center bg-primary border-radius text-color-light font-weight-semibold line-height-2 px-3 py-2">
                                    <span class="position-relative z-index-2">
                                        <span class="text-8">24</span>
                                        <span class="custom-font-secondary d-block text-1 positive-ls-2 px-1">NOV</span>
                                    </span>
                                </span>
                            </span>
                            <img src="~/img/news2.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
                        <h3 class="custom-font-primary mb-2">
                            <a href="demo-law-firm-news-post.html" class="text-dark text-transform-none font-weight-bold text-1 line-height-3 text-color-hover-primary text-decoration-none">
                                國立臺灣大學國家發展研究所徵聘專任教師</h3>
                            </a>
                        </h3>
                        <p class="mb-2">資訊轉知</p>
                        <a href="demo-law-firm-news-post.html" class="custom-view-more d-inline-flex font-weight-medium text-color-primary">
                            View More
                            <img width="27" height="27" src="~/img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary ms-2'}" style="width: 27px;" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>          
*@


<!-- 關於學會 -->
<div class="container-fluid">
    <div class="row" style="background: url(img/background-1.jpg); background-size: contain; background-position: center;">
        <div class="col-lg-6 order-2 order-lg-1 p-0">
            <div class="h-100 m-0">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-right text-color-light py-5 ms-auto">
                        <div class="p-3">
                            <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <h2 class="mb-0 font-weight-bold text-light font-noto-serif-tc">關於學會</h2>
                                <div class="divider divider-dark divider-small mt-2 mb-4">
                                    <hr class="my-0 me-auto">
                                </div>

                                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-light testimonial-remove-right-quote mb-0">
                                    <blockquote class="opacity-7 pb-3">
                                        <p class="text-start text-color-light custom-font-secondary font-weight-bold text-45 line-height-10 pb-0 mb-0 font-noto-sans-tc">
                                            發展研究（development studies），起初以國家為主的經濟發展考量，近年來逐漸轉移到個人、社區、參與以及平等，強調發展是要符合人民需要、與環境和平共處。為實現發展的永續性，除借鑑前人的經驗更需結合現今資源網絡，我們期許能夠找到一條可以實現永續的發展道路。</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 p-0">
            <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" style="min-height: 450px;">
                <div class="h-100 m-0">
                    <div class="row m-0">
                        <div class="col-half-section col-half-section-left">
                            <div class="p-3 p-relative zindex-1">
                                <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                    <h2 class="mb-0 font-weight-bold text-color-light font-merriweather">About Us</h2>
                                    <div class="divider divider-dark divider-small mt-2 mb-4">
                                        <hr class="my-0 me-auto">
                                    </div>

                                    <div>
                                        <p class="text-color-light font-noto-sans text-4" style="line-height: 1.3em;">Development studies, initially focusing on national economic growth, have gradually shifted to sustainability of individuals, communities, civic participation, equality, and global governance in recent years, emphasizing that development must meet the needs of the people and coexist with nature. To realize the sustainability, it is crucial to acquire experience from the predecessors, as well as to integrate the current resource network into practice. Therefore, as an association for development studies, we hope to find a sustainable path by connecting scholars from various research fields.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>
</div>


<!-- 研究成果 -->
@*
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col text-center">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Research findings <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">學會會員研究成果</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4 text-center">
                        <hr class="my-0 mx-auto">
                    </div>
                </div>

                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">

                    <div class="owl-carousel owl-theme dots-modern dots-modern-lg pt-3 pb-0 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 3}, '1199': {'items': 4}}, 'loop': false, 'autoHeight': true, 'margin': 20}">
                        
                        @for (int i = 0; i < 4; i++)
                        {
                            <div>
                                <div class="row">
                                    <div class="col">
                                        <a href="demo-law-firm-attorneys-detail.html">
                                            <img src="~/img/r_author1.jpg" class="img-fluid" alt="Image of the team member" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col pt-3">
                                        <p class="text-color-dark text-4-5 font-weight-bold mb-1">周嘉辰 副教授</p>
                                        <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">臺大國發所</p>
                                        <p class="text-2 mb-3-5">Air quality governance in China-Authoritarian environmentalism and the coal-to-gas switch campaign</p>
                                        <p class="text-2 mb-3">
                                            <a class="mt-3 font-weight-semi-bold" href="/Home/ResearchFindings">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-4.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">Alice Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">Capital Law</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <a href="demo-law-firm-attorneys-detail.html">
                                        <img src="img/demos/law-firm/team/team-5.jpg" class="img-fluid" alt="Image of the team member" />
                                    </a>
                                </div>
                            </div>
                            <div class="row pb-3">
                                <div class="col pt-3">
                                    <p class="text-color-dark text-4-5 font-weight-bold mb-1">Chuck Doe</p>
                                    <p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">Divorce Law</p>
                                    <p class="text-2 mb-3-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc viverra erat orci.</p>
                                    <p class="text-2 mb-3">
                                        <a class="mt-3 font-weight-semi-bold" href="demo-law-firm-attorneys-detail.html">View More<img width="27" height="27" src="img/demos/law-firm/icons/arrow-right.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary d-inline-block ms-2 p-relative bottom-1'}" /></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
*@

<!-- 發展學領域動態 -->
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col text-center">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Development Dynamics  <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">發展學領域動態</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4 text-center">
                        <hr class="my-0 mx-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-globe fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Development 發展學</h4>
                        <ul>
                            <li>國家發展研究</li>
                            <li>問題與研究</li>
                            <li>World Development</li>
                            <li>Population and Development Review</li>
                            <li>Development and Change</li>
                            <li>Journal of Development Eﬀectiveness</li>
                            <li>Studies in Comparative International</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-chart-line fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Economy 經濟</h4>
                        <ul>
                            <li>Journal of Development of Economics</li>
                            <li>World Bank Research Observer</li>
                            <li>Economic Development Quarterly</li>
                            <li>Applied Economic Perspectives and Policy</li>
                            <li>Economic Development and Cultural Change</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-landmark fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Politics 政治</h4>
                        <ul>
                            <li>New Political Economy</li>
                            <li>Review of African Political Economy</li>
                            <li>Journal of International Relations and Development</li>
                            <li>Policy Sciences</li>
                            <li>Public Administration and Development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-3">
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Society 社會</h4>
                        <ul>
                            <li>International Journal of Urban and Regional Research</li>
                            <li>Cities</li>
                            <li>Policy and Society</li>
                            <li>Journal of Rural Studies</li>
                            <li>Journal of Regional Science</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-leaf fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Sustainability 永續</h4>
                        <ul>
                            <li>Journal of Sustainable Tourism</li>
                            <li>Corporate Social Responsibility and Environmental Management</li>
                            <li>Food Policy</li>
                            <li>Environment, Development and Sustainability</li>
                            <li>Sustainable Development</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>



<!-- 相關連結/ 聯絡我們 -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 order-2 order-lg-1 p-0 bg-color-quaternary">
            <div class="h-100 m-0">
                <div class="row m-0">
                    <div class="col-half-section col-half-section-right py-5 ms-auto">
                        <div class="p-3">
                            <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                                <h2 class="mb-0 font-weight-bold text-dark  font-merriweather">Related Links <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">相關連結</div></h2>
                                <div class="divider divider-primary divider-small mt-2 mb-4">
                                    <hr class="my-0 me-auto">
                                </div>

                                <ul class="list list-icons">
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="0" style="animation-delay: 0ms;"><i class="fas fa-check"></i> Research Institutes 研究機構</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="300" style="animation-delay: 300ms;"><i class="fas fa-check"></i> Oﬃcial Institutes 官方機構</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;"><i class="fas fa-check"></i> Associations 學會</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="900" style="animation-delay: 900ms;"><i class="fas fa-check"></i> Development Studies Colleges/Departments in Taiwan 在台相關系所</li>
                                    <li class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1200" style="animation-delay: 1200ms;"><i class="fas fa-check"></i> NGOs/FORUMs 非政府組織/論壇</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 p-0"  style="background: url(img/background-2.jpg); background-size: cover; background-position: center;">
            <section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" style="min-height: 450px;">
                <div class="h-100 m-0">
                    <div class="row m-0">
                        <div class="col-half-section col-half-section-left">
                            <div class="p-3 p-relative zindex-1">
                                <div class="appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
                                    <h2 class="mb-0 font-weight-bold text-dark  font-merriweather">Contact Us <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">聯絡我們</div></h2>
                                    <div class="divider divider-primary divider-small mt-2 mb-4">
                                        <hr class="my-0 me-auto">
                                    </div>

                                    <ul class="list list-icons">
                                        <li><i class="fas fa-location-dot"></i>
                                            <a href="https://maps.app.goo.gl/gR8q72HdCaQDhQdT6" target="_blank" rel="noopener noreferrer" style="color: inherit; text-decoration: none;">
                                            7F., No.64, Sec. 2, Zhinan Rd., Wenshan Dist., <br>
                                            Taipei City 116011, Taiwan (R.O.C.)<br>
                                            116011 臺北市文山區指南路二段64號<br>
                                            國立政治大學綜合院館北棟7樓270709室
                                            </a>
                                        </li>
                                        <li><i class="fas fa-phone"></i> (+886)2-2939-3091 Transfer 分機 50721</li>
                                        <li><i class="far fa-envelope"></i> tads.tw@gmail.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </div>
</div>