@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "最新消息";
    ViewData["PageTitle"] = "Latest News 最新消息";
    ViewData["BreadcrumbCurrent"] = "最新消息";
}

<div class="container py-5 my-3">
	<div class="row">
		<div class="col-lg-8 mb-5 mb-lg-0">

			<article>
				<div class="card border-0">
					<div class="card-body z-index-1 p-0">
						<p class="text-uppercase text-1 mb-3 text-color-default"><time pubdate datetime="2025-01-10">16 Jan 2026</time> <span class="opacity-3 d-inline-block px-2">|</span> Admin</p>

						<h2 class="mb-0 font-weight-bold">「掌握東亞數位化與社會政策的最前線！」活動資訊</h2>
						<div class="divider divider-primary divider-small mt-2 mb-4">
							<hr class="my-0 me-auto">
						</div>

						<div class="card-body p-0">

							<p>
								【活動預告｜掌握東亞數位化與社會政策的最前線！】
							</p>

							<p>
								想知道數位化與平台化如何改變中國與台灣的社會福利嗎？ 下週四（1/22），我們邀請了來自英國與臺灣的重量級學者，分享數位化、社會福利政策到國家健保資料庫的最新研究成果！
							</p>

							<p>
									無論你是對數位福利國家、性別與數位化議題感興趣，還是想了解東亞社會公民權的未來發展，這場學術論文工作坊都不容錯過！ 歡迎加入我們，一同與學者進行深度對話。</p>
 

<p>*工作坊將以英文進行，前25名報名及到場者可獲贈免費餐盒。</p>

<p><a href="https://forms.gle/idxMD3gFFbhf6ix69" target="_blank">報名表單：https://forms.gle/idxMD3gFFbhf6ix69</a> （1/19 中午 1200 截止）</p>


							
							<!-- Go to www.addtoany.com to customize -->
							<!-- AddToAny BEGIN -->
							<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
								<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
								<a class="a2a_button_facebook"></a>
								<a class="a2a_button_x"></a>
								<a class="a2a_button_copy_link"></a>
							</div>
							<script async src="https://static.addtoany.com/menu/page.js"></script>
							<!-- AddToAny END -->

					
							

						</div>
					</div>
				</div>
			</article>

		</div>
		<div class="blog-sidebar col-lg-4 pt-4 pt-lg-0">
			<aside class="sidebar">
				
				<div class="px-3 mt-4">
					<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Posts</h3>
					<div class="pb-2 mb-1">
						<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">16 Jan 2026 <span class="opacity-3 d-inline-block px-2">|</span> Admin</a>
						<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">「掌握東亞數位化與社會政策的最前線！」活動資訊</a>
						<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">24 Nov 2025 <span class="opacity-3 d-inline-block px-2">|</span> Admin</a>
						<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">國立臺灣大學國家發展研究所徵聘專任教師（2026年8月起聘）公告</a>
					</div>
				</div>
				<div class="py-1 clearfix">
					<hr class="my-2">
				</div>
				<div class="px-3 mt-4">
					<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0">Categories</h3>
					<ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
						<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">公告 (2)</a></li>
						<li class="nav-item"><a class="nav-link bg-transparent border-0 active" href="#">活動演講 (4)</a></li>
						<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">其他訊息 (3)</a></li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
</div>