@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "研究成果";
    ViewData["PageTitle"] = "Research findings 學會會員研究成果";
    ViewData["BreadcrumbCurrent"] = "學會會員研究成果";
}

				<div class="container py-5 my-3">
					<div class="row">
						<div class="col-lg-9 mb-4 mb-lg-0">

							<h2 class="mb-0 font-weight-bold">Air quality governance in China-Authoritarian environmentalism and the coal-to-gas switch campaign</h2>
							<div class="divider divider-primary divider-small mt-2 mb-4">
								<hr class="my-0 me-auto">
							</div>

                            <h3>中國式的威權環保主義如何保衛藍天？</h3>

							<p class="text-3-5 line-height-9">
                                習近平於2017年提出「生態文明建設」是國家可持續發展的關鍵。為減少煤炭使用，中國政府展開「京津冀煤改氣」運動，在北京、天津兩直轄市與其他二十六個城市裡，禁止使用小型燃煤鍋爐，改以天然氣代替。此運動雖快速改善空氣品質，但卻造成許多家庭承受冷冬。同時，此政策忽視國有企業、重工業所造成的空氣品質惡化問題，僅聚焦於個人應承擔保護空氣品質的責任。
本文探究「煤改氣」運動，分析中國政府如何有意識地將污染的責任個體化，以轉移公眾對大型國有企業和政府的批評。
                            </p>

                            <p>〈Air quality governance in China-Authoritarian environmentalism and the coal-to-gas switch campaign〉Chelsea C. Chou, Chih-sung Teng, Chin-en Wu and Kuan-chen Lee.／文章連結：https://reurl.cc/l93G79 （全文請聯繫通訊作者周嘉辰）</p>

							<h4 class="mb-0 pt-3">About</h4>
							<div class="divider divider-primary divider-small mt-2 mb-4">
								<hr class="my-0 me-auto">
							</div>

                            <h5>周嘉辰 Chelsea C. Chou</h5>

							<ul class="list list-icons list-icons-style-2 list-icons-lg my-4 py-1">
								<li class="font-weight-semibold text-color-dark">
									<i class="fas fa-check text-color-dark border-color-grey-1 top-7 text-3"></i> 
									現職｜國立臺灣大學國家發展研究所 副教授
								</li>
								<li class="font-weight-semibold text-color-dark">
									<i class="fas fa-check text-color-dark border-color-grey-1 top-7 text-3"></i> 
									研究專長｜比較政治經濟、比較威權主義、中國大陸政治
								</li>
								<li class="font-weight-semibold text-color-dark">
									<i class="fas fa-check text-color-dark border-color-grey-1 top-7 text-3"></i> 
									個人網頁｜https://sites.google.com/site/chelseachouch/  
								</li>
							</ul>

						</div>

                        
						<div class="col-lg-3">
							<h4 class="mb-0">Author</h4>
							<div class="divider divider-primary divider-small mt-2 mb-4">
								<hr class="my-0 me-auto">
							</div>

							<div class="owl-carousel owl-theme dots-modern dots-modern-lg text-center pt-2 pb-4 mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': true, 'margin': 0}">
								<div>
									<div class="row">
										<div class="col">
											<a href="demo-law-firm-attorneys-detail.html">
												<img src="~/img/author1.jpg" class="img-fluid" alt="Image of the team member" />
											</a>
										</div>
									</div>
									<div class="row pb-3"> 
										<div class="col pt-3">
											<p class="text-color-dark text-4-5 font-weight-bold mb-1">周嘉辰副教授</p>
											<p class="d-block text-color-default font-weight-semibold line-height-1 positive-ls-2 text-2 text-uppercase mb-3">臺大國發所</p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			