@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "Annual Conferences of Development Studies 發展研究年會";
    ViewData["PageTitle"] = "Annual Conferences of Development Studies 發展研究年會";
    ViewData["BreadcrumbCurrent"] = "Annual Conferences of Development Studies 發展研究年會";
}

<img src="~/img/banner.jpg" class="w-100 d-block" alt="" style="max-height: 700px; object-fit: cover;" />

<!-- Who we are, out commitment -->
<section class="section section-default section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h5 class="mb-0 font-weight-bold appear-animation font-noto-sans text-4" data-appear-animation="blurIn" data-appear-animation-delay="100">THE 18TH ANNUAL CONFERENCE ON DEVELOPMENT STUDIES</h5>
                <div class="divider divider-primary divider-small mt-2 mb-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <hr class="my-0 me-auto">
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300" style="margin-top: 50px;">
                    <p class="font-weight-blob text-dark text-10 font-do-hyeon mb-0" style="line-height: 1em;">
                        WHOSE KNOWLEDGE?<br />WHOSE UNIVERSITY?
                    </p>
                    <p class="font-do-hyeon text-5 text-dark" style="letter-spacing: -0.5px; line-height:0.8em">Reimagining Higher Education and Taiwan’s Future Development in an Age of Socio-Technical Change.</p>
                    <p class="font-noto-sans-tc text-dark" style="line-height: 1.3em; margin-top: 40px;">
                        <span class="text-35">VENUE</span> /<br />
                        <span class="text-4">GRADUATE INSTITUTE OF NATIONAL DEVELOPMENT, <br />
                        NATIONAL TAIWAN UNIVERSITY</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="mb-0 appear-animation text-4" data-appear-animation="blurIn" data-appear-animation-delay="400" style="letter-spacing: 0.1em;">
                    第十八屆發展研究年會
                </h5>
                <div class="divider divider-primary divider-small mt-2 mb-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                    <hr class="my-0 me-auto">
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500" style="margin-top: 40px;">
                    <p class="mt-4 mb-4 font-noto-sans-tc text-12 text-dark font-weight-bold" style="line-height: 1em;">誰的知識？誰的大學？</p>
                    <p class="font-noto-sans-tc text-dark text-6">科技社會變遷下的高教再想像<br />與台灣未來發展</p>
                    <p class="mb-0 font-noto-sans-tc text-dark" style="line-height: 1.3em; margin-top: 40px;">
                        <span class="text-2">地點</span> /<br />
                        <span class="text-5">國立臺灣大學 國家發展研究所</span> 
                    </p>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-4 d-flex align-items-center">
                <p class="font-do-hyeon text-13 text-primary mb-0 font-weight-bold me-2" style="line-height: 1em; color: #FEAE00 !important;">
                    10/31<span class="text-1">SAT</span> ~ 11/1<span class="text-1">SUN</span>, 2026
                </p>
                <a href="https://forms.gle/ZW3gTUpjuKjbFj7MA" target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary btn-modern text-uppercase font-weight-bold text-4 ms-2 py-1 px-2 font-do-hyeon"
                    style="vertical-align: super;">
                        <span class="text-2">CALL FOR PAPERS 徵稿期間</span><br />
                        <span class="text-4">5/4~6/30</span></a>
                <a href="https://forms.gle/ZW3gTUpjuKjbFj7MA" target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary btn-modern text-uppercase font-weight-bold text-6 ms-2 py-3 px-1 font-do-hyeon"
                    style="vertical-align: super; background-color: #FEAE00; height:65px; padding-top:13px !important;padding-left: 20px !important;padding-right: 20px !important;">
                        <div>Registration 報名</div>
                </a>
                
            </div>
            <div>
                <p class="font-weight-bold text-4"> &gt;&gt; 學位論文獎競獎申請截止日 6 /30</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12 font-noto-sans-tc">
                <ul style="list-style: none; padding: 0;">
                    <li class="text-dark">《 2 0 2 6 年 第 1 8 屆 台 灣 發 展 研 究 學 會 年 會 》</li>
                    <li class="text-dark">主辦單位｜台灣發展研究學會、國立臺灣大學國家發展研究所</li>
                    <li class="mb-4 text-dark">協辦單位｜國立政治大學國家發展研究所、國立臺灣大學風險社會與政策研究中心、國立臺灣大學建築與城鄉研究所、學會團體會員、相關院系所及合作單位。</li>
                    <li class="text-primary font-weight-bold">聯絡我們｜2026年第18屆台灣發展研究學會年會籌備小組 <i class="fa-regular fa-envelope"></i> <a href="mailto:tads2026.tw@gmail.com" class="text-primary text-4">tads2026.tw@gmail.com</a></li>
                </ul>
            </div>




        </div>
    </div>
</section>


<!-- 徵稿主題介紹 & 學位論文獎 -->
<section class="section section-default section-no-border my-0" style="padding-top: 0;">
    <div class="container pt-0 pb-4">
        <div class="row">
            <div class="col-12">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h4 class="mb-0 font-merriweather"><div style="display: inline-block;" class="font-noto-serif-tc font-weight-bold">A. 徵稿主題介紹</div></h4>
                    <div class="divider divider-primary divider-small mt-2 mb-4">
                        <hr class="my-0 me-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <h4 class="font-noto-sans-tc font-weight-bold">2026年第18屆台灣發展研究學會年會</h4>
                    <p class="font-noto-sans-tc text-dark font-weight-bold text-5 mt-3">
                        會議主題｜「誰的知識？誰的大學？科技社會變遷下的高教再想像與台灣未來發展」
                    </p>
                    <p class="font-noto-sans text-dark text-4">
                        Whose Knowledge? Whose University? Reimagining Higher Education and Taiwan's Future Development Amidst Socio-Technical Change
                    </p>
                    <p class="font-noto-sans-tc text-dark mt-3">
                        本屆年會以「誰的知識？誰的大學？科技社會變遷下的高教再想像與台灣未來發展」為主題，聚焦在人工智慧、數位科技、地緣政治、人口轉型與永續發展等全球變遷下，高等教育與台灣社會所面臨的挑戰與轉型契機。大會期望延續台灣發展研究學會一貫跨領域、多元對話之精神，邀集來自社會科學、人文、科技、公共政策、法律、教育、文化與區域研究等領域之學者、研究生與實務工作者，共同探討台灣未來發展的可能方向。
                    </p>
                    <p class="font-noto-sans-tc text-dark font-weight-bold mt-4">本屆徵稿主題包含：</p>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <ol class="font-noto-sans-tc" start="1">
                                <li>高等教育哲學與實踐</li>
                                <li>淨零轉型、能源安全與永續發展</li>
                                <li>新地緣政治下的台灣、中國與東亞研究</li>
                                <li>人工智慧、數位治理與法制</li>
                                <li>性別與發展研究</li>
                                <li>原住民、新住民的身分政治與制度改革</li>
                                <li>社會福利、人口變遷與健康照顧政策</li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <ol class="font-noto-sans-tc" start="8">
                                <li>移民與移工</li>
                                <li>東亞文明與文化變遷</li>
                                <li>災害治理、公民社會與韌性</li>
                                <li>新興科技與發展</li>
                                <li>民主韌性與防衛</li>
                                <li>其他與發展研究相關之議題</li>
                            </ol>
                        </div>
                    </div>
                    <p class="font-noto-sans-tc text-dark mt-3">
                        誠摯邀請各界踴躍投稿與參與，或自組panel，一同透過跨領域對話，重新思考知識、生產體制、大學角色與台灣社會未來發展的方向。
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h4 class="mb-0 font-noto-serif-tc font-weight-bold">B. 學位論文獎</h4>
                    <div class="divider divider-primary divider-small mt-2 mb-4">
                        <hr class="my-0 me-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="appear-animation d-flex align-items-center flex-wrap gap-3" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <span class="font-noto-sans-tc font-weight-bold text-dark">學位論文獎徵件中｜鼓勵青年研究者投入發展研究｜即日起至2026年6月30日截止</span>
                    <a href="/static/file.pdf" target="_blank" class="btn btn-primary btn-modern btn-sm font-noto-sans-tc font-weight-bold">
                        <i class="fas fa-download me-1"></i>下載檔案
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h4 class="mb-0 font-noto-serif-tc font-weight-bold">C. 歷屆年會</h4>
                    <div class="divider divider-primary divider-small mt-2 mb-4">
                        <hr class="my-0 me-auto">
                    </div>
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <a href="/Annual/History" class="btn btn-primary btn-modern font-noto-sans-tc font-weight-bold">
                        <i class="fas fa-history me-1"></i>查看歷屆年會
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
