@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "Previous Annual Conferences歷屆年會";
    ViewData["PageTitle"] = "Previous Annual Conferences 歷屆年會";
    ViewData["BreadcrumbCurrent"] = "Previous Annual Conferences 歷屆年會";
}

<div class="container py-5">
    <div class="row">
        <div class="col">
            <div class="blog-posts">

                <div class="row">

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=37" target="_blank">
                                    <img src="~/img/history_cover/ACDS-17.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">17th ACDS 第17屆年會</a></h2>
                                <p class="mb-1">Taiwan, East Asia, and Their Networks from a Development Perspective: Interdisciplinary Dialogues</p>
                                <p>發展視野下的臺灣、東亞及其網絡：跨域對話</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=37" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=32" target="_blank">
                                    <img src="~/img/history_cover/ACDS-16.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">16th ACDS 第16屆年會</a></h2>
                                <p class="mb-1">The dynamic development of humans and nature: interdisciplinary research and reflection on net-zero transition</p>
                                <p>人與自然的動態發展：淨零轉型的跨域研究與反思</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=32" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=29" target="_blank">
                                    <img src="~/img/history_cover/ACDS-15.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">15th ACDS 第15屆年會</a></h2>
                                <p class="mb-1">Sustainability: Climate Action, Just Transition and the Future of the Ocean</p>
                                <p>永續：氣候行動、公正轉型與海洋的未來</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=29" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="https://202214tads.weebly.com/" target="_blank">
                                    <img src="~/img/history_cover/ACDS-14.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">14th ACDS 第14屆年會</a></h2>
                                <p class="mb-1">Development, Resilience and Recovery: Taiwan and Regional Studies in the Context of Post-COVID and War</p>
                                <p>發展、韌性與復甦：後疫情與新戰爭下的臺灣與區域研究</p>
                                <a href="https://202214tads.weebly.com/" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=23" target="_blank">
                                    <img src="~/img/history_cover/ACDS-13.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">13th ACDS 第13屆年會</a></h2>
                                <p class="mb-1">University Outreach to Social and Regional Development in the Post-Pandemic Era</p>
                                <p>後疫情時代的區域發展能力與大學社會實踐</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=23" target="_blank"  class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=21" target="_blank">
                                    <img src="~/img/history_cover/ACDS-12.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">12th ACDS 第12屆年會</a></h2>
                                <p class="mb-1">Reexamining China: Transboundary Risks, Defensive Democracy and High-tech Competition</p>
                                <p>再認識中國：跨域風險、防衛民主與科技競爭</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=21" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=20" target="_blank">
                                    <img src="~/img/history_cover/ACDS-11.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">11th ACDS 第11屆年會</a></h2>
                                <p class="mb-1">Sustainable Development and Regional Revitalization</p>
                                <p>健康樂活、永續發展與地方創生：治理理論與實踐</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=20" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=19" target="_blank">
                                    <img src="~/img/history_cover/ACDS-10.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">10th ACDS 第10屆年會</a></h2>
                                <p class="mb-1">Taiwan Experience 2.0: Development Studies &amp; Practices of Local and Global</p>
                                <p>臺灣經驗2.0：在地與全球的發展研究和實踐</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=19" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=18" target="_blank">
                                    <img src="~/img/history_cover/ACDS-09.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">9th ACDS 第9屆年會</a></h2>
                                <p class="mb-1">Asia 2050</p>
                                <p>亞洲2050</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=18" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=16" target="_blank">
                                    <img src="~/img/history_cover/ACDS-08.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">8th ACDS 第8屆年會</a></h2>
                                <p class="mb-1">Environment and Sustainable Development</p>
                                <p>環境與永續發展</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=16" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=13" target="_blank">
                                    <img src="~/img/history_cover/ACDS-07.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">7th ACDS 第7屆年會</a></h2>
                                <p class="mb-1">Intergenerational In/Justice</p>
                                <p>世代[不]正義</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=13" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=14" target="_blank">
                                    <img src="~/img/history_cover/ACDS-06.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">6th ACDS 第6屆年會</a></h2>
                                <p class="mb-1">Regionalism, Ethnicity and Development</p>
                                <p>區域、族群與發展</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=14" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=11" target="_blank">
                                    <img src="~/img/history_cover/ACDS-05.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">5th ACDS 第5屆年會</a></h2>
                                <p class="mb-1">Development: crisis and security</p>
                                <p>發展：危機與安全</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=11" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=10" target="_blank">
                                    <img src="~/img/history_cover/ACDS-04.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">4th ACDS 第4屆年會</a></h2>
                                <p class="mb-1">Trans-X: Risk and Justice</p>
                                <p>跨X: 風險與正義</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=10" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=9" target="_blank">
                                    <img src="~/img/history_cover/ACDS-03.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">3rd ACDS 第3屆年會</a></h2>
                                <p class="mb-1">Development &amp; Justice</p>
                                <p>發展與正義</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=9" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=2" target="_blank">
                                    <img src="~/img/history_cover/ACDS-02.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">2nd ACDS 第2屆年會</a></h2>
                                <p class="mb-1">Culture, Environment, Society and Development Studies</p>
                                <p>文化、環境、社會與發展研究</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=2" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-lg-3">
                        <article class="post post-medium border-0 pb-0 mb-5">
                            <div class="post-image">
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=1" target="_blank">
                                    <img src="~/img/history_cover/ACDS-01.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
                                </a>
                            </div>
                            <div class="post-content">
                                <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">1st ACDS 第1屆年會</a></h2>
                                <p class="mb-1">Annual Conferences of Development Studies</p>
                                <p>發展研究年會</p>
                                <a href="http://tads.nccu.edu.tw/meeting/super_pages.php?ID=meeting101&Sn=1" target="_blank" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a>
                            </div>
                        </article>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
