@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "Development Dynamics 發展學領域動態";
    ViewData["PageTitle"] = "Development Dynamics 發展學領域動態";
    ViewData["BreadcrumbCurrent"] = "Development Dynamics 發展學領域動態";
}

<style>
    .journal-link {
        color: #6c757d;
        text-decoration: none;
        transition: color 0.2s ease;
    }

    .journal-link:hover,
    .journal-link:focus {
        color: #FEAE00;
        text-decoration: none;
    }
</style>

<!-- 發展學領域動態 -->
<section class="section bg-transparent section-no-border my-0">
    <div class="container pt-3 pb-4">
        <div class="row">
            <div class="col">
                <div class="appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="0">
                    <h2 class="mb-0 font-merriweather">Development Dynamics  <div style="display: inline-block;" class="ms-4 font-noto-serif-tc font-weight-bold">發展學領域動態</div></h2>
                    <div class="divider divider-primary divider-small mt-2 mb-4">
                        <hr class="my-0 me-auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-globe fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Development 發展學</h4>
                        <ul>
                            <li><a class="journal-link" href="https://www.airitilibrary.com/Publication/alPublicationJournal?PublicationID=10171355" target="_blank" rel="noopener noreferrer">國家發展研究</a></li>
                            <li><a class="journal-link" href="http://wenti.nccu.edu.tw/" target="_blank" rel="noopener noreferrer">問題與研究</a></li>
                            <li><a class="journal-link" href="https://www.sciencedirect.com/journal/world-development" target="_blank" rel="noopener noreferrer">World Development</a></li>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/17284457" target="_blank" rel="noopener noreferrer">Population and Development Review</a></li>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/14677660" target="_blank" rel="noopener noreferrer">Development and Change</a></li>
                            <li><a class="journal-link" href="https://www.tandfonline.com/toc/rjde20/current" target="_blank" rel="noopener noreferrer">Journal of Development Effectiveness</a></li>
                            <li><a class="journal-link" href="https://link.springer.com/journal/12116" target="_blank" rel="noopener noreferrer">Studies in Comparative International Development</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-chart-line fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Economy 經濟</h4>
                        <ul>
                            <li><a class="journal-link" href="https://www.sciencedirect.com/journal/journal-of-development-economics" target="_blank" rel="noopener noreferrer">Journal of Development Economics</a></li>
                            <li><a class="journal-link" href="https://academic.oup.com/wbro" target="_blank" rel="noopener noreferrer">World Bank Research Observer</a></li>
                            <li><a class="journal-link" href="https://journals.sagepub.com/home/edq" target="_blank" rel="noopener noreferrer">Economic Development Quarterly</a></li>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/20405804" target="_blank" rel="noopener noreferrer">Applied Economic Perspectives and Policy</a></li>
                            <li><a class="journal-link" href="https://www.journals.uchicago.edu/toc/edcc/current" target="_blank" rel="noopener noreferrer">Economic Development and Cultural Change</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-landmark fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Politics 政治</h4>
                        <ul>
                            <li><a class="journal-link" href="https://www.tandfonline.com/toc/cnpe20/current" target="_blank" rel="noopener noreferrer">New Political Economy</a></li>
                            <li><a class="journal-link" href="https://www.tandfonline.com/toc/crea20/current" target="_blank" rel="noopener noreferrer">Review of African Political Economy</a></li>
                            <li><a class="journal-link" href="https://link.springer.com/journal/41268" target="_blank" rel="noopener noreferrer">Journal of International Relations and Development</a></li>
                            <li><a class="journal-link" href="https://link.springer.com/journal/11077" target="_blank" rel="noopener noreferrer">Policy Sciences</a></li>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/1099162x" target="_blank" rel="noopener noreferrer">Public Administration and Development</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-3">
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-users fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Society 社會</h4>
                        <ul>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/14682427" target="_blank" rel="noopener noreferrer">International Journal of Urban and Regional Research</a></li>
                            <li><a class="journal-link" href="https://www.sciencedirect.com/journal/cities" target="_blank" rel="noopener noreferrer">Cities</a></li>
                            <li><a class="journal-link" href="https://academic.oup.com/policyandsociety" target="_blank" rel="noopener noreferrer">Policy and Society</a></li>
                            <li><a class="journal-link" href="https://www.sciencedirect.com/journal/journal-of-rural-studies" target="_blank" rel="noopener noreferrer">Journal of Rural Studies</a></li>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/14679787" target="_blank" rel="noopener noreferrer">Journal of Regional Science</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-box feature-box-style-2 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                    <div class="feature-box-icon mt-3">
                        <i class="fas fa-leaf fa-3x"></i>
                    </div>
                    <div class="feature-box-info ms-3">
                        <h4 class="mb-2">Sustainability 永續</h4>
                        <ul>
                            <li><a class="journal-link" href="https://www.tandfonline.com/toc/rsus20/current" target="_blank" rel="noopener noreferrer">Journal of Sustainable Tourism</a></li>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/15353966" target="_blank" rel="noopener noreferrer">Corporate Social Responsibility and Environmental Management</a></li>
                            <li><a class="journal-link" href="https://www.sciencedirect.com/journal/food-policy" target="_blank" rel="noopener noreferrer">Food Policy</a></li>
                            <li><a class="journal-link" href="https://link.springer.com/journal/10668" target="_blank" rel="noopener noreferrer">Environment, Development and Sustainability</a></li>
                            <li><a class="journal-link" href="https://onlinelibrary.wiley.com/journal/10991719" target="_blank" rel="noopener noreferrer">Sustainable Development</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
